$button_bg_opacity: 0.5;
$button_playing_opacity: 0.5;
$button_bg_opacity_hover: 0.7;
$start_rotation: 0deg;
$target_rotation: 180deg;
$max_image_width: 100%;
$gif_btn_bg_color: #000 !default;
$gif_btn_box_shadow_color: #000 !default;
$gif_btn_text_color: #fff !default;
$gif_btn_border_color: $gif_btn_text_color !default;
$gif_btn_font_family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$bg_color: rgba($gif_btn_bg_color, $button_bg_opacity);
$box_shadow_color: rgba($gif_btn_box_shadow_color, $button_bg_opacity);
$bg_color_hover: rgba($gif_btn_bg_color, $button_bg_opacity_hover);
$box_shadow_color_hover: rgba($gif_btn_box_shadow_color, $button_bg_opacity_hover);

.gif_player {
  display: inline-block;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none;

  .play_button {
    background-color: $bg_color;
    border: 2px dashed $gif_btn_border_color;
    border-radius: 50%;
    box-shadow: 0 0 0 3px $box_shadow_color; 
    color: $gif_btn_text_color;
    cursor: pointer;
    font-family: $gif_btn_font_family;
    font-size: 24px;
    left: 50%;
    opacity: 1.0;
    padding: 14px 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1) rotate($start_rotation);
    transition: transform 0.4s, opacity 0.4s;

    &:hover {
      background-color: $bg_color_hover;
      box-shadow: 0 0 0 3px $box_shadow_color_hover;
    }

    &::after {
      content: 'GIF'
    }
  }

  &.playing .play_button {
    transform: translate(-50%, -50%) scale(0) rotate($target_rotation);
    opacity: $button_playing_opacity;
  }

  img {
    max-width: $max_image_width;
  }
}
